// app.scss

@import "home";
@import "sign-in";

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';

%center-all {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

%vertical-flex {
    list-style: none;

    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    -webkit-flex-flow: column;
    flex-flow: column;
    flex-direction: column;
}

.flex-container {
    @extend %vertical-flex;
}

.grid-container {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 20% 1fr 20%;

    #main-title {
        font-weight: 200;
        text-align: center;
        grid-column: span 3;
    }

    #home-nav {
        border-top: 1px solid #666;
        border-bottom: 1px solid #666;
        grid-column: span 3;
    }

    .nav-flex-container {
        grid-column: 2/2;
        display: grid;
        align-items: center;
        grid-template-columns: repeat(3, 1fr);
        @extend %center-all;

        ul {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
        }

        #{$a-tags} {
            color: rgba(44, 44, 44, 0.8);
            text-decoration: none;
            padding: 20px;
        }

        #{$a-tags-hover} {
            color: black;
        }
    }
}