// app.scss

@import "home";
@import "sign-in";
@import "forum-post";
@import "admin-css";
@import "staff";
@import "profile";
@import "forum";

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: inherit;
    background-color: #f8f8f8;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';

%center-all {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

%vertical-flex {
    list-style: none;

    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    -webkit-flex-flow: column;
    flex-flow: column;
    flex-direction: column;
}

.error {
    font-family: Helvetica, sans-serif;
}

.flex-container {
    @extend %vertical-flex;
}

.horizonal-flex-container {
    list-style: none;

    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    -webkit-flex-flow: row;
    flex-flow: row;
    flex-direction: row;
}

.grid-container {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 10% 1fr 10%;

    #main-title {
        font-weight: 200;
        text-align: center;
        grid-column: span 3;
    }

    #home-nav {
        border-bottom: 1px solid #555;
        grid-column: span 3;
    }

    .nav-flex-container {
        grid-column: 2/2;
        display: grid;
        align-items: center;
        grid-template-columns: repeat(3, 1fr);
        @extend %center-all;

        ul {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;

            li {
                display: inline-block;
                margin-left: 1em;
                margin-right: 1em;
            }
        }

        #{$a-tags} {
            color: rgba(44, 44, 44, 0.8);
            text-decoration: none;
        }

        #{$a-tags-hover} {
            color: black;
        }
    }
}

.search-bar-wrapper {
    display: inline-block;

    input {
        border: 2px solid #cccccc;
        padding: 5px;
        margin: 10px;
        margin-right: 0px;
    }

    button {
        padding: 5px 12px;
        background-color: #4b65b8; 
        color: white;
        text-transform: uppercase;
        border-top: 2px solid #cccccc;
        border-right: 2px solid #cccccc;
        border-bottom: 2px solid #cccccc;
        border-left: none;
        text-decoration: none;
        font-weight: bold;
    }

    button:hover {
        background-color: #6175b6;
    }
}

.main-centered-container {
    grid-column: 2/2;
    width: 100%;
    @extend %center-all;
}

.fancy-header {
    padding: 14px;
    background-color: #efefef;
    border: solid 1px #dddddd;
}

.layered-picture {
    font-size: 40px;
    top: calc(150px - 44px);
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 20px;
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    background-color: rgba(0, 0, 0, .14);
    color: white;
}