.forum-box {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    border-radius: 3px;
    margin-bottom: 15px;
}

.forum-box thead {
    border: 1px solid #dddddd;
    background-color: #efefef;
}

.forum-box tr {
    border-bottom: 1px solid #dddddd;
}

.forum-box th {
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color:#555555;
}

.forum-box tbody {
    margin-top: 0;
    border: 1px solid #dddddd;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.forum-box tr {
    border-bottom: 1px solid #dddddd;
}

.forum-box td {
    padding: 0;
}

.forum-padding {
    margin: auto;
}

#forum-logo-box {
    width: 64px;
    height: 64px;
}

.forum-container {
    display: inline-block;
    vertical-align: middle;
}

.forum-container h2 {
    font-size: 20px;
    margin: 0;
    color: #337ab7;
}

.forum-container p {
    font-size: 16px;
    color: #555555;
    margin: 0;
    margin-top: 0.6em;
}

.thread-name {
    font-size: 16px;
    color: #337ab7;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
}

.thread-support {
    font-size: 14px;
    color: #555555;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
}