// home.scss

.news-container {
    padding: 14px;

    h1 {
        text-align: left !important;
        font-size: 2em;
        font-weight: 600;
    }

    p {
        font-size: 1.2em;
    }

    small {
        font-size: 1em;
    }
}