// home.scss

.news-flex-container {
    grid-column: 2/2;
}

.news-container {
    padding: 14px;

    h1 {
        text-align: left !important;
        font-size: 2em;
        font-weight: 400;
    }

    p {
        font-size: 1.2em;
    }

    small {
        font-size: 1em;
    }
}