// sign-in.scss

#sign-in-paper {
    overflow: hidden;
    display: none;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 150;
}

.sign-in-wrapper {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.sign-in-form {
    background-color: #efefef;
    border: 1px solid #dddddd;
    border-radius: 12px;
    margin-top: 20%;
    padding: 4px;

    .login-exit {
        border: none;
        position: absolute;
        right: 0;
        background-color: rgba(0,0,0,0);
    }

    %login-input {
        padding: 6px 25px;
        margin: 4px 2px;
        border: none;
        border-bottom: 2px solid #4b65b8;
    }
    
    a {
        text-decoration: none;
    }

    #username {
        @extend %login-input;
    }

    #passwd {
        @extend %login-input;
    }

    .login_input_general {
        @extend %login-input;
    }

    .button-wrapper {
        margin: 20px;
    }

    #button {
        background-color: #4b65b8;
        border-radius: 12px;
        color: white;
        border: none;
        padding: 6px 10px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
    }
}