{{!--
  application.hbs renders first on **all** routes.
  This can be used for things like navigation, footers, etc. things you want
  to persist across all routes should go here. Do note that this only renders
  once,at application start, after that you have to manually reload it or set up
  some events to get changes to propagate to this level
--}}

<h1>Medieval Lords</h1>

{{#bs-navbar as |navbar|}}
  {{#navbar.content}}
    {{#navbar.nav as |nav|}}
      {{#nav.item}}
        {{#nav.link-to "index"}}Home{{/nav.link-to}}
      {{/nav.item}}
    {{/navbar.nav}}
  {{/navbar.content}}
{{/bs-navbar}}

{{outlet}}