<div class='grid-container'>
  <nav id='home-nav'>
    <div class='nav-flex-container'>
      <ul>
        {{#link-to "home.create-post"}}CreatePost{{/link-to}}
      </ul>
      <div>
        {{#link-to "index"}}<span><strong>Medieval</strong> Lords</span>{{/link-to}}
      </div>
      <ul>
        {{sign-in-or-logout-link}}
      </ul>
    </div>
  </nav>
  {{outlet}}
</div>
