<div class='grid-container'>
  {{admin-panel-header}}
  <nav id='home-nav'>
    <div class='nav-flex-container'>
      <ul>
        {{#link-to "profile" "719caf75be4340a6bad27b9cdc352984" }}Bongo{{/link-to}}
      </ul>
      <div>
        {{#link-to "index"}}<span><strong>Medieval</strong> Lords</span>{{/link-to}}
      </div>
      <ul>
        {{sign-in-or-logout-link}}
      </ul>
    </div>
  </nav>
  {{sign-in-form}}
  {{outlet}}
</div>
