<div class='home-header'>
    <div class='home-header-wrapper' style="z-index: 96">
        <img class='home-image' src='assets/images/forum_background.png'>
    </div>
    <div class='home-header-wrapper' style="z-index: 97">
        <img class='home-image' src='assets/images/forums_title.png' style='width: 40%;'>
    </div>
</div>

<div id='news-header-padding' class='main-centered-container'>
    <table class='forum-box'>
        <thead>
            <tr>
                <th style='float: left; margin-left: 12px;'>Medieval Lords Minecraft Server</th>
                <th>Statistics</th>
                <th>Lastest Thread</th>
            </tr>
        </thead>
        <tbody>
            {{forum-category category_name='Annoucements'
            blurt='Important information regarding the server.' }}
            {{forum-category category_name='Community Suggestions'
            blurt='A place to organize and discuss community input.' }}
            {{forum-category category_name='Development Updates'
            blurt='Information about upcoming new features.' }}
        </tbody>
    </table>
</div>
{{outlet}}