<div class='home-header'>
    <div class='home-header-wrapper' style="z-index: 96">
        <img class='home-image' src='assets/images/crysanthium.jpg'>
    </div>
    <div class='home-header-wrapper' style="z-index: 97">
        {{canvas-comp}}
    </div>
    <div class='home-header-wrapper' style="z-index: 97">
        <img class='home-logo' src='assets/images/medkms.png'>
    </div>
</div>
{{post-list data=model cname="news-post"}}

{{outlet}}