<tr>
    <td style='text-align: left;'>
        <div class='forum-padding'>
            <div>
                <img id='forum-logo-box' src='assets/images/full_logo.png'>
            </div>
            <div>
                <h2>Announcements</h2>
                <p>Important information regarding the server.</p>
            </div>
        </div>
    </td>
    <td>
        <div class='forum-padding'>
            <ul>
                <li>10 Threads</li>
                <li>1,000 Posts</li>
            </ul>
        </div>
    </td>
    <td>
        <div class='forum-padding'>
            <div>Some a thread</div>
        </div>
    </td>
</tr>
{{yield}}