<div id='news-header-padding' class='main-centered-container' style='text-align: left;'>
    {{post-list cname='forums-post' data=model.model.posts}}
    {{post-to-forums post='true' category=model.category thread_uuid=model.thread_uuid}}
</div>
{{outlet}}