<div id='news-header-padding' class='main-centered-container'>
    {{#if model}}
        <table class='forum-box'>
            <thead>
                <tr>
                    <th style='float: left; width: 60%;'><div style='text-align: left'>{{model.category}}</div></th>
                    <th><div>Statistics</div></th>
                    <th><div>Lastest Post</div></th>
                </tr>
            </thead>
            <tbody>
                {{forum-thread-listing data=model.model category=model.category page=model.page}}
            </tbody>
        </table>
    {{else}}
        <h2>No forum threads have been created yet!</h2>
    {{/if}}
</div>
{{outlet}}