<div class='main-centered-container'>
    {{#if model}}
        <div class='slim-profile-wrapper'>
            {{#each-in model as |key value|}}
                {{slim-profile data=value}}
            {{/each-in}}
        </div>
    {{else}}
        <h2>No search results were found!</h2>
    {{/if}}
</div>
{{outlet}}