<div class='main-centered-container'>
    {{#if model}}
        <div class='slim-profile-wrapper'>
            {{post-list data=model cname="slim-profile"}}
        </div>
    {{else}}
        <h2>No search results were found!</h2>
    {{/if}}
</div>
{{outlet}}